:root {
  --container-max-size: 1064px;
  --topbar-type: flex-end;
  --banner-height: 400px;
  --header__info--width: 500px;
  --header__info--order: 1;
  --header__reg--order: 2;
  --header__info--border-top: none;
  --info__time--width: 200px;
  --info__title--text-align: left;
  --info__numb--width: 150px;
  --info__bottom--grid-template-columns: auto auto;
  --info__time--grid-row: 1/ span 2;
  --color-fucker__1--color: #000;
  --color-fucker__2--color: #000;
  --contact-order: 3;
  --domain-order: 1;
  --phone-order: 2;
  font-size: 20px; }

@media screen and (max-width: 1023px) {
  :root {
    --container-max-size: 896px;
    --topbar-type: space-around;
    --banner-height: 250px;
    --header__info--width: 100%;
    --header__info--order: 2;
    --header__reg--order: 1;
    --header__info--border-top: 1px solid #dedede;
    --info__title--text-align: center;
    --info__numb--width: 70px;
    --info__time--width: 100%;
    --info__bottom--grid-template-columns: auto;
    --info__time--grid-row: auto;
    --color-fucker__1--color: #f56c36;
    --color-fucker__2--color: #e02d6f;
    --contact-order: 1;
    --domain-order: 3;
    --phone-order: 2;
    font-size: 18px; } }
@media screen and (max-width: 768px) {
  :root {
    --container-max-size: 641px;
    --banner-height: 200px;
    font-size: 14px; } }
*:focus {
  outline: none; }

@font-face {
  font-family: 'AvenyT';
  src: url(../font/AvenyTLight.ttf); }
@font-face {
  font-family: 'AvenyTMedium';
  src: url(../font/AvenyTMedium.ttf); }
@font-face {
  font-family: 'AvenyTRegular';
  src: url(../font/AvenyTRegular.ttf); }
@font-face {
  font-family: 'GilroyLight';
  src: url(../font/SVN-GilroyLight.otf); }
@font-face {
  font-family: 'GilroyBold';
  src: url(../font/SVN-GilroyBold.otf); }
body {
  margin: 0;
  background: url(../images/background.png);
  background-size: cover;
  font-family: 'GilroyLight', arial, helvetica, sans-serif; }

h1, h2 {
  font-family: 'AvenyT', sans-serif; }

.font-gilroy-bold {
  font-family: 'GilroyBold', sans-serif; }

.c-navbar {
  display: flex;
  padding: 0px; }
  .c-navbar__item {
    list-style-type: none;
    padding: 0 5px; }
  .c-navbar__link {
    text-decoration: none;
    cursor: pointer; }

.c-modal {
  position: fixed;
  z-index: 99999;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden; }
  .c-modal__background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8); }
  .c-modal__content {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 700px;
    max-height: calc(100vh - 100px);
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem; }
  .c-modal__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 4rem; }
  .c-modal__title {
    flex: 1;
    margin: 0;
    align-self: flex-end;
    text-align: center;
    text-transform: uppercase; }
  .c-modal__close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem; }
  .c-modal__body {
    overflow: auto; }
  .c-modal__foot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding-top: 1rem; }
  .c-modal__submit {
    padding: 0.5rem 1rem;
    background-color: #dedede;
    border: 1px solid #dedede;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
    color: #000;
    text-transform: uppercase; }
  .c-modal--active {
    visibility: visible; }

.header {
  padding: 0 3rem; }
  .header__container {
    margin: auto;
    max-width: var(--container-max-size); }
  .header__bottom {
    border-bottom: 1px solid #dedede;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .header__info {
    width: var(--header__info--width);
    order: var(--header__info--order);
    border-top: var(--header__info--border-top);
    margin-top: 1rem; }
  .header__time {
    font-family: 'GilroyBold', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    margin: 0.75rem 0; }
  .header__address {
    font-size: 0.75rem;
    color: #fff; }
  .header__reg {
    order: var(--header__reg--order);
    display: flex;
    align-items: center; }
  .header__button {
    padding: .7rem 1.4rem;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */ }
  .header__bonus {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0; }
  .header__down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer; }
  .header__brand {
    display: flex;
    align-items: center; }
  .header__logo {
    color: #fff;
    cursor: pointer;
    margin-right: 12px; }

.topbar {
  display: flex;
  justify-content: var(--topbar-type); }

.c-navbar--header .c-navbar__item {
  padding-left: 1rem; }
.c-navbar--header .c-navbar__link {
  color: #fff;
  position: relative;
  font-size: .818rem; }
  .c-navbar--header .c-navbar__link:after {
    position: absolute;
    display: block;
    background-color: #fff;
    height: 2px;
    content: "";
    left: 50%;
    right: 50%;
    transition: all .218s ease-in; }
  .c-navbar--header .c-navbar__link:hover:after, .c-navbar--header .c-navbar__link--active:after {
    left: 0%;
    right: 0%; }

.banner {
  height: var(--banner-height);
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .banner__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 20px; }
  .banner__sub {
    font-family: 'AvenyT', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400; }

.info {
  padding: 2rem 3rem; }
  .info__wrapper {
    margin: auto;
    max-width: var(--container-max-size);
    background-color: #fff;
    border-radius: 5px; }
  .info__title {
    padding: 1rem 4rem;
    color: #f40103;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
    text-align: var(--info__title--text-align);
    border-bottom: 1px solid #dedede; }
  .info__main {
    padding-top: 2rem; }
  .info__container {
    padding: 0 3rem; }
  .info__intro {
    border-bottom: 1px solid #dedede;
    padding: 1rem 1rem; }
  .info__row {
    display: flex;
    padding: 1rem 0; }
  .info__numb {
    font-family: 'GilroyBold', sans-serif;
    font-size: 2rem;
    width: var(--info__numb--width);
    color: #000;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    padding-left: 1rem; }
  .info__text {
    flex: 1;
    text-align: justify; }
  .info__bottom {
    padding: 1rem 0;
    border-top: 1px solid #dedede;
    display: grid;
    grid-template-columns: var(--info__bottom--grid-template-columns); }
  .info__time {
    font-family: 'GilroyBold', sans-serif;
    width: var(--info__time--width);
    grid-row: var(--info__time--grid-row);
    font-size: 3rem;
    color: #cc3366;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600; }

.color-fucker__1 {
  color: var(--color-fucker__1--color); }

.color-fucker__2 {
  color: var(--color-fucker__2--color); }

.footer {
  background: white;
  padding: 2rem 1rem; }
  .footer__container {
    margin: auto;
    max-width: var(--container-max-size);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
  .footer__text {
    font-size: 0.8rem;
    color: #cc3366; }
  .footer__title {
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .5rem; }
  .footer__contact {
    order: var(--contact-order); }
  .footer__domain {
    order: var(--domain-order); }
  .footer__phone {
    order: var(--phone-order); }

.c-card * {
  display: block;
  box-sizing: border-box; }

.c-card {
  display: inline-block;
  width: 100%;
  max-width: 350px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: left;
  background: #fff;
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2); }
  .c-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3); }
  .c-card__image {
    max-width: 100%; }
  .c-card__body {
    padding: 20px; }
  .c-card__title {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-transform: uppercase; }
  .c-card__subtitle {
    font-size: 13px;
    margin-top: 5px;
    padding: 0; }
  .c-card__intro {
    margin-bottom: 0; }
  .c-card__footer {
    padding: 20px;
    border-top: 1px solid #ddd; }

/* ** !!CARD CENTER MODIFIER ** */
.c-card--center {
  text-align: center; }

/* ** !!CARD WIDE MODIFIER ** */
.c-card--wide {
  max-width: 740px; }
  .c-card--wide .c-card__header {
    float: left; }
  .c-card--wide .c-card__body {
    float: left;
    padding-top: 30px; }
  .c-card--wide .c-card__footer {
    clear: both;
    text-align: center; }

/* ** !!CARD FLIP, ANOTHER BLOCK COMPONENT ** */
.c-card-flip {
  width: 450px;
  height: 250px;
  margin: 20px auto;
  cursor: pointer;
  perspective: 1000;
  -webkit-perspective: 1000; }
  .c-card-flip__flipper {
    position: relative;
    transition: 0.8s ease-in-out;
    transform-style: preserve-3d; }
  .c-card-flip__front, .c-card-flip__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 250px;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .c-card-flip__back {
    transform: rotateY(180deg);
    background: #ddd; }
  .c-card-flip__title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    margin: auto; }
  .c-card-flip:hover .c-card-flip__flipper {
    transform: rotateY(180deg); }

.speaker {
  padding: 2rem 3rem; }
  .speaker__container {
    max-width: var(--container-max-size);
    margin: auto; }
  .speaker__header {
    background: white;
    height: 5em;
    line-height: 5em;
    border-radius: 10px 10px 0 0; }
  .speaker__title {
    padding-left: 12%;
    color: #cc3366;
    font-size: 2.5em;
    letter-spacing: 5px; }
  @media (max-width: 768px) {
    .speaker {
      padding: 2rem 3rem 0; }
      .speaker__header {
        height: 3em;
        line-height: 3em; }
      .speaker__title {
        font-size: 1.5em;
        letter-spacing: 2px; } }
  .speaker__slider {
    position: relative;
    border-radius: 0 0 10px 10px; }
    .speaker__slider img {
      width: 100%;
      height: 100%;
      margin-top: 0; }
    @media (max-width: 768px) {
      .speaker__slider > div ul {
        height: 30px;
        padding-right: 0 !important;
        width: auto !important; }
        .speaker__slider > div ul li {
          font-size: 30px !important;
          margin: 0 8px !important; } }

.kols {
  padding: 2rem 3rem; }
  .kols__container {
    max-width: var(--container-max-size);
    margin: auto; }
  .kols__header {
    min-height: 4em;
    line-height: 4em;
    border-radius: 10px 10px 0 0; }
  .kols__title {
    padding-left: 12%;
    color: white;
    font-size: 2.5em;
    letter-spacing: 5px; }
  @media (max-width: 768px) {
    .kols {
      padding: 2rem 3rem 0; }
      .kols__header {
        height: 2em;
        line-height: 2em; }
      .kols__title {
        font-size: 1.5em;
        letter-spacing: 2px; } }
  .kols__slider .left, .kols__slider .right {
    width: 35px;
    cursor: pointer;
    transition: 0.4s;
    position: absolute;
    top: 45%; }
    .kols__slider .left:hover, .kols__slider .right:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
    .kols__slider .left:active, .kols__slider .right:active {
      -webkit-transform: scale(0.9);
      transform: scale(0.9); }
  .kols__slider .left {
    left: -10%; }
  .kols__slider .right {
    right: -10%; }

.registry {
  padding: 0 3rem; }
  .registry__container {
    margin: auto;
    max-width: var(--container-max-size); }
  .registry__action {
    display: flex;
    justify-content: center;
    align-items: center; }
  .registry__button {
    padding: 1.5rem 3rem;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
    text-transform: uppercase;
    font-size: 1.5rem; }
  .registry__up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer; }
  .registry__bottom {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0; }
  .registry__text {
    color: #fff; }
  .registry__bold {
    font-weight: 600; }

.registry {
  padding: 0 3rem; }
  .registry__container {
    margin: auto;
    max-width: var(--container-max-size); }
  .registry__action {
    display: flex;
    justify-content: center;
    align-items: center; }
  .registry__button {
    padding: 1.5rem 3rem;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
    text-transform: uppercase;
    font-size: 1.5rem; }
  .registry__up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer; }
  .registry__bottom {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0; }
  .registry__text {
    color: #fff; }
  .registry__bold {
    font-weight: 600; }

/*# sourceMappingURL=main.css.map */
