*:focus, *:active {
  outline: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "GoTham Bold";
  src: url(../fonts/SVN-GothamBold.ttf);
}
@font-face {
  font-family: "GoTham Light";
  src: url(../fonts/SVN-GothamLight.ttf);
}
body {
  margin: 0;
  font-family: "GoTham Light", arial, helvetica, sans-serif;
}

:root {
  font-size: 24px;
}

@media screen and (max-width: 1023px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  :root {
    font-size: 12px;
  }
}
@keyframes fadeDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
.c-card {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: left;
  background: #fff;
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
}
.c-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
}
.c-card__image {
  max-width: 100%;
}
.c-card__body {
  padding: 20px;
}
.c-card__title {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.c-card__subtitle {
  font-size: 13px;
  margin-top: 5px;
  padding: 0;
}
.c-card__intro {
  margin-bottom: 0;
}
.c-card__footer {
  padding: 20px;
  border-top: 1px solid #ddd;
}

.c-card--center {
  text-align: center;
}

.c-card--wide {
  max-width: 740px;
}
.c-card--wide .c-card__header {
  float: left;
}
.c-card--wide .c-card__body {
  float: left;
  padding-top: 30px;
}
.c-card--wide .c-card__footer {
  clear: both;
  text-align: center;
}

.c-navbar {
  display: flex;
  padding: 0px;
}
.c-navbar__item {
  list-style-type: none;
  padding: 0 5px;
}
.c-navbar__link {
  text-decoration: none;
  cursor: pointer;
}

.c-modal {
  position: fixed;
  z-index: 99999;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.c-modal__background {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}
.c-modal__content {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 700px;
  max-height: calc(100vh - 100px);
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  animation: fadeDown 0.318s ease-out;
}
.c-modal__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 4rem;
}
.c-modal__title {
  flex: 1;
  margin: 0;
  align-self: flex-end;
  text-align: center;
  text-transform: uppercase;
}
.c-modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
}
.c-modal__body {
  overflow: auto;
}
.c-modal__foot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  padding-top: 1rem;
}
.c-modal__submit {
  padding: 0.5rem 1rem;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000;
  text-transform: uppercase;
}
.c-modal--active {
  display: flex;
}

.test {
  color: red;
}

/*# sourceMappingURL=main.css.map */
