:root {
  --container-max-size: 1064px;
  --topbar-type: flex-end;
  --banner-height: 400px;
  --header__info--width: 500px;
  --header__info--order: 1;
  --header__reg--order: 2;
  --header__info--border-top: none;
  --info__time--width: 200px;
  --info__title--text-align: left;
  --info__numb--width: 150px;
  --info__bottom--grid-template-columns: auto auto;
  --info__time--grid-row: 1/ span 2;
  --color-fucker__1--color: #000;
  --color-fucker__2--color: #000;
  --contact-order: 3;
  --domain-order: 1;
  --phone-order: 2;
  font-size: 20px; }

@media screen and (max-width: 1023px) {
  :root {
    --container-max-size: 896px;
    --topbar-type: space-around;
    --banner-height: 250px;
    --header__info--width: 100%;
    --header__info--order: 2;
    --header__reg--order: 1;
    --header__info--border-top: 1px solid #dedede;
    --info__title--text-align: center;
    --info__numb--width: 70px;
    --info__time--width: 100%;
    --info__bottom--grid-template-columns: auto;
    --info__time--grid-row: auto;
    --color-fucker__1--color: #f56c36;
    --color-fucker__2--color: #e02d6f;
    --contact-order: 1;
    --domain-order: 3;
    --phone-order: 2;
    font-size: 18px; } }
@media screen and (max-width: 768px) {
  :root {
    --container-max-size: 641px;
    --banner-height: 200px;
    font-size: 14px; } }
*:focus {
  outline: none; }

@font-face {
  font-family: 'AvenyT';
  src: url(../font/AvenyTLight.ttf); }
@font-face {
  font-family: 'AvenyTMedium';
  src: url(../font/AvenyTMedium.ttf); }
@font-face {
  font-family: 'AvenyTRegular';
  src: url(../font/AvenyTRegular.ttf); }
@font-face {
  font-family: 'GilroyLight';
  src: url(../font/SVN-GilroyLight.otf); }
@font-face {
  font-family: 'GilroyBold';
  src: url(../font/SVN-GilroyBold.otf); }
body {
  margin: 0;
  background: url(../images/background.png);
  background-size: cover;
  font-family: 'GilroyLight', arial, helvetica, sans-serif; }

h1, h2 {
  font-family: 'AvenyT', sans-serif; }

.font-gilroy-bold {
  font-family: 'GilroyBold', sans-serif; }

.c-navbar {
  display: flex;
  padding: 0px; }
  .c-navbar__item {
    list-style-type: none;
    padding: 0 5px; }
  .c-navbar__link {
    text-decoration: none;
    cursor: pointer; }

.c-modal {
  position: fixed;
  z-index: 99999;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden; }
  .c-modal__background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8); }
  .c-modal__content {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 700px;
    max-height: calc(100vh - 100px);
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem; }
  .c-modal__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 4rem; }
  .c-modal__title {
    flex: 1;
    margin: 0;
    align-self: flex-end;
    text-align: center;
    text-transform: uppercase; }
  .c-modal__close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem; }
  .c-modal__body {
    overflow: auto; }
  .c-modal__foot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding-top: 1rem; }
  .c-modal__submit {
    padding: 0.5rem 1rem;
    background-color: #dedede;
    border: 1px solid #dedede;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
    color: #000;
    text-transform: uppercase; }
  .c-modal--active {
    visibility: visible; }

/*# sourceMappingURL=main.css.map */
