
/* ----------------------------------------------------------------------
	Seperator
-------------------------------------------------------------------------*/



.seperator {

    color: #ccc;
    width: 100%;
    margin: 30px auto;
    overflow: hidden;
    text-align: center;
    line-height: 1.2em;
}


.seperator::before,
.seperator::after{
    border-bottom: 1px solid #ccc;
    content: "";
    display: inline-block;
    height: 0.65em;
    margin: 0 -4px 0 -100%;
    vertical-align: top;
    width: 50%;
}

.seperator::after{
    margin: 0 -100% 0 0;
}
.seperator i {
    font-size: 18px;
}
.seperator i,
.seperator span,
.seperator a {
    margin: 0 20px 0 24px;
    display: inline-block;
}

// Dotted style
.seperator.is-dotted:before,
.seperator.is-dotted:after {
    border-bottom: 2px dotted #ccc;
}

// Seperator left icon

.seperator.seperator-left {
    float: left;
    margin: 2px 36px 0 0;
}
.seperator.is-left i {
    float: left;
    margin: 2px 36px 0 0;
}

// Seperator right icon

.seperator.is-right i {
    float: right;
    margin: 0 0 2px 36px;
}


// Seperator sizes

.seperator.is-small {
    width: 32%;
    margin: .5em auto;
}
.seperator.is-medium {
    width: 62%;
    margin: 1em auto;
}

.seperator.is-over_top {
    margin-bottom: -17px;
    position: relative;
    top: -13px !important;
}

