
/* ----------------------------------------------------------------
GO TO TOP BUTTON
-----------------------------------------------------------------*/
#gotopButton {
  opacity: 0;
  position: fixed;
  right: 26px;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  border-radius: 100px;
  z-index: 999;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.45);
  overflow: hidden;
  transition: all 0.61s cubic-bezier(.55, 0, .1, 1);

  i {
    line-height: 39px;
    width: 39px;
    height: 39px;
    font-size: 16px;
    top: 0px;
    left: 0px;
    text-align: center;
    position: relative;
    z-index: 10;
    background-color: transparent;
    transition: all 0.61s cubic-bezier(.55, 0, .1, 1);
  }
  &:hover {

    i {
      
      animation: toTopFromBottom 0.3s cubic-bezier(.55, 0, .1, 1) forwards;
    }
  }
    
}