// Css animation
#modalWrapper {

  position: fixed;
  z-index: 100; /* 1 */
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  overflow: auto;

  .modal-overlay {

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.7);
    visibility: hidden;
  }
    

  .modal {
    
    position: absolute;
    z-index: 9999;
    top: 6em;
    left: 50%;
    width: 32em;
    margin-left: -16em;
    background-color: #fff;
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0);

  }

  &.is-visible {

    visibility: visible;

    .modal-overlay {

      animation:fadeIn .8s cubic-bezier(0.165, 0.840, 0.440, 1.000)  forwards;
    }

    .modal{

      animation: fadeDown .5s  cubic-bezier(0.165, 0.840, 0.440, 1.000) 0s forwards;
    }

    &.out{
      
      visibility: hidden;
      transition: all 0s cubic-bezier(0.165, 0.840, 0.440, 1.000) 1.3s;

      .modal-overlay {
        
        animation:fadeOut 1.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0s forwards;
      }

      .modal{

        animation: fadeUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }

    }

    
  }

  
}

// End css animation

.modal-header,
.modal-content {
  padding: 1em;
}

.modal-header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
  border-bottom: 1px solid #e8e8e8;
}


.modal-close:hover {
  color: #777;
}

.modal-heading {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

}
.modal-close{
  position: absolute;
  z-index: 10;
  top: 1em;
  right: 1em;
  color: $text;
  background-color: $grey;
}

.modal-content > *:first-child {
  margin-top: 0;
}

.modal-content > *:last-child {
  margin-bottom: 0;
}
