//***************************************************************
//this file do: 
//1, set margin and padding of allmost blocks to 0
//2, set box-sizing to border-box
//3, reset font-size, font weight  of heading tags
//***************************************************************

// Blocks no margin and padding
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

// Headings default size and weight
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

// List tyle none
ul {
  list-style: none;
}

// Form no margin 
button,
input,
select,
textarea {
  margin: 0;
}

// Html  Box-sizing border-box
html {
  box-sizing: border-box;
}

//All box-sizing border-box
* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

// Media dimension
img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

// Iframe
iframe {
  border: 0;
}

// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}