
*:focus, *:active {
    outline: none;
}

*{
	box-sizing: border-box;
}

// font setting
@font-face {
	font-family: 'GoTham Bold';
	src: url(../fonts/SVN-GothamBold.ttf);
}

@font-face {
	font-family: 'GoTham Light';
	src: url(../fonts/SVN-GothamLight.ttf);
}

body{

	margin: 0;
	font-family: 'GoTham Light', arial, helvetica, sans-serif;
}

// settings
:root{
	
	// --container-max-size: #{$container-desktop};
	font-size: 24px;
}

@include screen-until($desktop){
	// on tablet
	:root{

		// --container-max-size: #{$container-tablet};
		font-size: 14px;
	}

}

@include screen-until($tablet){
	// on mobile
	:root{

		// --container-max-size: #{$container-mobile};
		font-size: 12px;
	}

}


