
*:focus, *:active {
    outline: none;
}

*{
	box-sizing: border-box;
}

// font setting
@font-face {
	font-family: 'GoTham Bold';
	src: url(../fonts/SVN-GothamBold.ttf);
}

@font-face {
	font-family: 'GoTham Light';
	src: url(../fonts/SVN-GothamLight.ttf);
}

@font-face {
	font-family: 'VNF-GoTham';
	src: url(../fonts/VNF-Gotham-Book.ttf);
}

body{

	margin: 0;
	font-family: 'GoTham Light', arial, helvetica, sans-serif;
}

.h1, .h2, .h3 {
	font-family: 'GoTham Bold';
}

.h1 {
	font-size: 30pt;
}

.h2 {
	font-size: 26pt;
}

.h3 {
	font-size: 14pt;
}

.h4 {
	font-size: 12pt;
}

// settings
:root{
	
	// --container-max-size: #{$container-desktop};
	font-size: 16px;
}

@include screen-until($desktop){
	// on tablet
	:root{

		// --container-max-size: #{$container-tablet};
		font-size: 14px;
	}

}

@include screen-until($tablet){
	// on mobile
	:root{

		// --container-max-size: #{$container-mobile};
		font-size: 12px;
	}

}

// animation 

	/* Safari 4.0 - 8.0 */
	@-webkit-keyframes bottom-top {
	    0%   {bottom: -70px; z-index: -1}
	    50%   {bottom: -70px; z-index: 1}
	    100% {bottom: 15px}
	}

	/* Standard syntax */
	@keyframes bottom-top {
	    0%   {bottom: -70px; z-index: -1}
	    50%   {bottom: -70px; z-index: 1}
	    100% {bottom: 15px}
	}
