
*:focus, *:active {
    outline: none;
}

*{
	box-sizing: border-box;
}

// @font-face {
// 	font-family: 'AvenyT';
// 	src: url(../font/AvenyTLight.ttf);
// }

body{

	margin: 0;
	// font-family: 'GilroyLight', arial, helvetica, sans-serif;
}

