
.footer{

	background-color: $green;
	padding: 40px;

	&__wrapper{

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__block{

		padding: 0 20px;
		margin-bottom: 20px;
	}

	&__title{

		text-transform: uppercase;
		font-family: 'GoTham Bold';
		font-size: 14px;
		color: $white;
	}

	&__content{

		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	&__item{

		line-height: 1;

	}

	&__link{

		color: $white;
		font-size: 12px;
		&:hover{

			color: $green-hover;
		}
	}

	&__form{

		display: flex;
		align-items: center;
		justify-content: space-between;
		min-width: 400px;
	}

	&__mail{

		position: relative;
		margin-right: 10px;

		flex: 1;

	}

	&__input-icon{

		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		padding-left: 10px;
		font-size: 20px;
		color: $text-light;
		@include midlein();

	}

	&__input{

		width: 100%;
		border: none;
		height: 44px;
		border-top-right-radius: 15px;
		border-bottom-left-radius: 15px;
		padding-left: 40px;
		font-size: 12px;
		color: $text-light;
	}
	
	&__submit{

		text-transform: uppercase;
		color: $white;
		background-color: $green-button;
		border: none;
		font-size: 16px;
		padding: 10px 20px;

		border-bottom-right-radius: 15px;
		border-top-left-radius: 15px;
		cursor: pointer;

		&:hover{

			background-color: $green-hover;
		}
	}

}