

.footer{
	background: white;
	padding: 2rem 1rem;

	&__container{

		@include container;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}

	&__text{

		font-size: 0.8rem;
		color: $pink;
	}

	&__title{

		color: $black;
		font-size: 1.2rem;
		font-weight: 600;
		margin-bottom: .5rem;
	}

	&__contact{

		order: var(--contact-order);
	}

	&__domain{

		order: var(--domain-order);
	}

	&__phone{

		order: var(--phone-order);
	}


}