.header-index {
	padding-top: 0px;
	
	.carousel {

		&-indicators{

			bottom: 10%;

			li {
				height: 12px;
				width: 12px;
				border-radius: 100%;
			}

		}

		&-inner {

			.carousel-item {
				height: 100vh;
				background-size: cover;
				background-position: center;
			}

		}

		&-control {

			bottom: 10%;
			right: 10%;
			z-index: 99;

			&_prev, &_next {
				padding: 1vw;

				&:hover {
					filter: brightness(85%);
				}
			}

			&_prev {
				border-radius: 5% 40%;
			}

			&_next {
				border-radius: 40% 5%;
			}
		}

		&-caption {

			bottom: 5vh;
			text-shadow: 1px 1px 1px $black;
		}

		@media(min-width: 768px) {
			&-caption {
				left: 4%;
				right: 60%;
				text-align: left;
				/* Safari 4.0 - 8.0 */
			    -webkit-animation-name: bottom-top;
			    -webkit-animation-duration: 0.8s;
			    -webkit-animation-timing-function: ease-in;
			    /* Standard syntax */
			    animation-name: bottom-top;
			    animation-duration: 0.8s;
			    animation-timing-function: ease-in;
			}
		}

		@media(max-width: 767px) {
			&-caption {
				bottom: 55%;
			}

			.h1 {
				font-size: 22pt;
			}
		}

	}

}