
.header{
	
	padding: 0 3rem;

	&__container{

		@include container;
	}

	&__bottom{

		border-bottom: 1px solid $border;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	&__info{

		width: var(--header__info--width);
		order: var(--header__info--order);
		border-top: var(--header__info--border-top);
		margin-top: 1rem;
	}

	&__time{

		font-family: 'GilroyBold', sans-serif;
		font-size: 1.5rem;
		color: $white;
		margin:  0.75rem 0;
	}

	&__address{
		
		font-size: 0.75rem;
		color: $white;
	}

	&__reg{
		
		order: var(--header__reg--order);
		display: flex;
		align-items: center;
	}

	&__button{

		padding: .7rem 1.4rem;
		border: 2px solid $white;
		border-radius: 50px;
		background-color: transparent;
		color: $white;
		cursor: pointer;
		@include noselect;
	}

	&__bonus{

		display: flex;
		justify-content: space-between;
		padding: 2rem 0;
	}

	&__down{

		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;
		color: $white;
		border: 2px solid $white;
		border-radius: 50px;
		background-color: transparent;
		cursor: pointer;
	}

	&__brand{

		display: flex;
		align-items: center;
	}

	&__logo{

		color: $white;
		cursor: pointer;
		margin-right: 12px;

	}
}

.topbar{

	display: flex;
	justify-content: var(--topbar-type);
}

.c-navbar--header{

	.c-navbar__item{

		padding-left: 1rem;
	}

	.c-navbar__link{

		color: $white;
		position: relative;
		font-size: .818rem;

		&:after{

		    position: absolute;
		    display:block;
		    background-color: $white;
		    height: 2px;
		    content: "";
		    left: 50%;
		    right: 50%;
		    transition: all .218s ease-in;
	    }

	    &:hover, &--active{

	    	&:after{

	    		left: 0%;
	    		right: 0%;
	    	}
	    }
	}
}

.banner{

	height: var(--banner-height);
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__title{
		
		font-size: 2.5rem;
		text-transform: uppercase;
		color: $white;
		text-align: center;
		letter-spacing: 1px;
		font-weight: 600;
		margin-bottom: 20px;
	}

	&__sub{
		font-family: 'AvenyT', sans-serif;
		font-size: 1rem;
		text-transform: uppercase;
		color: $white;
		text-align: center;
		letter-spacing: 1px;
		font-weight: 400;

	}
}

