

.info{

	padding: 2rem 3rem;

	&__wrapper{
		
		@include container;
		background-color: $white;
		border-radius: 5px;
	}

	&__title{

		padding: 1rem 4rem;
		color: $red;
		font-size: 1.8rem;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 0;
		text-align: var(--info__title--text-align);
		border-bottom: 1px solid $border;

	}

	&__main{

		padding-top: 2rem;
		// box-shadow: inset 0px 8px 43px -5px #ABABAB;

	}

	&__container{

		padding: 0 3rem;
	}

	&__intro{

		border-bottom: 1px solid $border;
		padding: 1rem 1rem;
	}

	&__row{

		display: flex;
		padding: 1rem 0;
	}

	&__numb{

		font-family: 'GilroyBold', sans-serif;
		font-size: 2rem;
		width: var(--info__numb--width);
		color: $black;
		text-decoration: underline;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-weight: 600;
		padding-left: 1rem;
	}

	&__text{

		flex:1;
		text-align: justify;
	}

	&__bottom{

		padding: 1rem 0;
		border-top: 1px solid $border;
		display: grid;
		grid-template-columns: var(--info__bottom--grid-template-columns);

	}


	&__time{
		
		font-family: 'GilroyBold', sans-serif;
		width: var(--info__time--width);
		grid-row: var(--info__time--grid-row);
		font-size: 3rem;
		color: $pink;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
	}

	&__end-1{

	}
}


.color-fucker__1{

	color: var(--color-fucker__1--color);
}

.color-fucker__2{

	color: var(--color-fucker__2--color);
}
