// ----------------------------------------
// !!KOLS NETWORK
// ----------------------------------------

.kols {
    padding: 2rem 3rem;

	&__container {
		max-width: var(--container-max-size);
		margin: auto;
	}

	&__header {
		min-height: 4em;
		line-height: 4em;
		border-radius: 10px 10px 0 0;
	}

	&__title {
		padding-left: 12%;
		color: white;
		font-size: 2.5em;
		letter-spacing: 5px;
	}

	@media(max-width: 768px) {
		padding: 2rem 3rem 0;

		&__header {
			height: 2em;
			line-height: 2em;
		}

		&__title {
			font-size: 1.5em;
			letter-spacing: 2px;
		}

	}

	&__slider {

		.left, .right {
			width: 35px;
			cursor: pointer;
			transition: 0.4s;
			position: absolute;
			top: 45%;

			&:hover {
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}

			&:active {
				-webkit-transform: scale(0.9);
				transform: scale(0.9);
			}
		}

		.left {
			left: -10%;
		}

		.right {
			right: -10%;
		}
	}

}