.myMenu {

	background: $grey;
	min-height: 60px;
	position: fixed;
    z-index: 10000;
    left: 0;
    right: 0;
    height: 75px;
    padding: 0;
    font-family: 'VNF-GoTham', arial, helvetica, sans-serif;

	a {
		color: $text-light;
		text-decoration: none;
	}

	ul > li > .nav-link {
		padding: 1.4rem!important;
		height: 100%;
	}

	&-right {

		flex-direction: row!important;
		cursor: pointer;

		.search {
			max-height: 23px;
		}

		&_icon.show {

			.dropdown-menu {
				display: block;
			}

			.icon-menu {

				.icon-bar {
					position: absolute;
					top: 30%;
    				
    				&:nth-child(2n) {
    					transform: rotate(45deg);
    				}

    				&:nth-child(2n+1) {
    					transform: rotate(-45deg);
    				}
				}
			}

		}

		.icon-menu {
			position: relative;
			height: 24px;
			width: 30px;
		}

		.icon-bar {
			display: block;
			width: 30px;
			height: 3px;
			background: linear-gradient(to right, $green-light , $green-dark);
			transition: 0.3s;
			margin-top: 5px;
		}

		.dropdown-menu {
			color: $green;
			right: 0;
			left: 0;
			border: none;
			padding: 0 15px;

			.dropdown-myitem {
				background-color: $white;
				text-align: center;
				color: #959595;
				padding: 20px 0px 15px;
				cursor: pointer;
				float: left;
				font-size: 10pt;
				font-weight: bold;
				transition: 0.3s;
				border-bottom: 3px solid $white;

				.dropdown-submenu {

					display: none;
					position: absolute;
					left: 0;
					right: 0;
					top: 104%;
					font-size: 12pt;
					background: $white;
					text-align: center;
					border-radius: 0 0 5px 5px;
					color: #6a6a6a;

					a {
						text-decoration: none;
						color: #6a6a6a;
					}

					.submenu-item {
						padding: 10px;
						border-bottom: 1px solid $grey;
						transition: 0.3s;
						position: relative;

						&_icon {
							display: none;
							right: 5px;
							top: 35%;
						}

						&:hover {
							
							background: $green;

							> a {
								color: #f4f4f4;
							}

							.submenu-item_icon {
								display: block;
							}

							> .dropdown-submenu {
								display: block;
							}
						}

						&:last-child {
							border: none;
						}

						.dropdown-submenu {
							left: 100%;
						    right: auto;
						    top: 0;
						    min-width: 230px;

						    li:hover {
						    	a {
						    	 color: #f4f4f4;
						    	}
						    }
						}

					}

				}

				img {
					padding-bottom: 5px;
					height: 4vh;
				}

				&:hover {
					color: $green;
					border-color: $green;
					background: linear-gradient(to bottom, $white 80%, rgba(122, 188, 66, 0.3));

					> .dropdown-submenu {
						display: block;
					}
					
				}

			}

		}

		@include screen-until($tablet){
			&_menu.dropdown-menu {
				left: 15vw;
				height: 90vh;

				/* Safari 4.0 - 8.0 */
			    -webkit-animation-name: leftToRight;
			    -webkit-animation-duration: 0.5s;
			    -webkit-animation-timing-function: linear;
			    /* Standard syntax */
			    animation-name: leftToRight;
			    animation-duration: 0.5s;
			    animation-timing-function: linear;
			}
		}

		&_search {

			form {

				input {
					border: none;
					padding: 15px 5%;
					color: #959595;
					width: 100%;
					font-size: 30pt;
				}

			}

		}

	}

	.submenu-dot {
		width: 15px;
	    height: 15px;
	    top: 90%;
	    background: $white;
	    z-index: 10;
	    right: 40%;
	    transform: rotate(45deg);
	    display: none;
	}

	.show .submenu-dot {
		display: block;
	}

}

.background-overlay_menu {
	position: fixed;
	top: 0; left:0; bottom: 0; right: 0;
	background: transparent;
	z-index: 9999;
	display: none;
}