.myMenu {

	background: $grey;
	min-height: 60px;
	position: fixed;
    z-index: 10000;
    left: 0;
    right: 0;
    height: 90px;
    padding: 0;

	a {
		color: $text-light;
	}

	ul > li > .nav-link {
		padding: 1.4rem!important;
	}

	&-right {

		flex-direction: row!important;
		cursor: pointer;

		.search {
			font-size: 24px;
		}

		&_icon.show {
			background: $green;

			.dropdown-menu {
				display: block;
			}

			.icon-menu {

				.icon-bar {
					background: $white;
					position: absolute;
					top: 30%;
    				
    				&:nth-child(2n) {
    					transform: rotate(45deg);
    				}

    				&:nth-child(2n+1) {
    					transform: rotate(-45deg);
    				}
				}
			}

		}

		.icon-menu {
			position: relative;
			height: 24px;
			width: 30px;
		}

		.icon-bar {
			display: block;
			width: 30px;
			height: 3px;
			background: linear-gradient(to right, $green-light , $green-dark);
			transition: 0.3s;
			margin-top: 5px;
		}

		.nav-item.show {
			background: $green;

			.search {
				color: $white;
			}
		}

		.dropdown-menu {
			background: $green;
			color: $white;
			right: 0;
			left: auto;
			min-width: 325px;

			.dropdown-item {
				background-color: $green;
				color: $white;
				padding-top: 10px;
				padding-bottom: 10px;
				cursor: pointer;

				.dropdown-submenu {
					display: none;
					margin-top: 5px;
					border-top: 1px solid $border;

					a {
						text-decoration: none;
    					color: $green-light;
					}

					.submenu-item {
						padding: 5px 0;
						padding-left: 6%;
						border-bottom: 1px solid $border;
						transition: 0.3s;
						font-size: 13px;

						&_icon {
							display: none;
							left: 5px;
						}

						&:hover {
							padding-left: 9%;
							color: $white;

							.submenu-item_icon {
								display: block;
							}
						}
					}
				}

				img {
					filter: brightness(80%);
					transform: translateY(-5px);
				}

				&_icon {
					right:3%;
					line-height: 25px;
    				font-size: 12px;
				}

				&_icon:nth-child(2n) {
					display: none;
				}

				&.active {

					background: none;
					font-weight: 900;

					img {
						filter: none;
					}

				}

				&:hover {
					background-color: $green-dark;
					color: $white;
					font-weight: 900;

					img {
						filter: none;
					}
					
				}

			}

		}

		&_search {

			form {

				border: 1px solid $white;
				border-radius: 20px 0;

				input {
					background: transparent;
					border: none;
					padding: 0 10px;
					color: white;
				}

			}

		}

	}

}

.background-overlay_menu {
	position: fixed;
	top: 0; left:0; bottom: 0; right: 0;
	background: transparent;
	z-index: 9999;
	display: none;
}