
.sections{

	.section{	

		position: relative;
		color: inherit;
		padding: 7px;

		&__wrapper{
			
			display: block;

		}

		&__image{

			@include img();
			transition: transform 0.5s;
		}

		&.section--group10{

			padding-left: 0;

			.section__wrapper{

				@include frame(666/493, 100%);

			}

			.section__title{

				position: absolute;
				top: 40px;
				left: 40px;
			}
		}

		&.section--group7{

			padding-left: 0;

			.section__wrapper{

				@include frame(1.352, 100%);

			}

			.section__title{

				position: absolute;
				bottom: 40px;
				left: 40px;
			}
		}
		
		&.section--group9{

			.section__wrapper{

				@include frame(1.65, 100%);

			}

			.section__title{

				position: absolute;
				top: 40px;
				left: 40px;
			}
		}

		&.section--group8{

			padding-right: 0;

			.section__wrapper{

				@include frame(502/310, 100%);

			}

			.section__title{

				position: absolute;
				bottom: 40px;
				left: 40px;
			}
		}

		&.section--group5{

			padding-right: 0;

			.section__wrapper{

				@include frame(332/619, 100%);
				height: 100%;

			}

			.section__title{

				position: absolute;
				bottom: 40px;
				left: 40px;
			}
		}

		&.section--group6{

			padding-right: 0;

			.section__wrapper{

				@include frame(349/619, 100%);

			}

			.section__title{

				position: absolute;
				bottom: 40px;
				left: 40px;
			}
		}

		&__effect-top,&__effect-bottom{

			height: 10px;
			background-color: $green;
			position: absolute;
			display: block;
			z-index: 10;
			width: 0%;

		}

		&__effect-left,&__effect-right{

			width: 10px;
			background-color: $green;
			position: absolute;
			display: block;
			z-index: 1000;
			height: 0%;

		}

		&__effect-top{

			top: 0;
			transition: all .25s ease-in 0.75s;
		}

		&__effect-bottom{

			bottom: 0;
			transition: all .25s ease-in 0.25s;
		}

		&__effect-left{

			left: 0;
			bottom: 0;
			transition: all .25s ease-in 0s;
		}

		&__effect-right{

			right: 0;
			top:0;
			transition: all .25s ease-in 0.5s;
		}

		&:hover{

			.section__effect-top{

				top: 0;
				width: 100%;
				transition: all .25s ease-in 0s;
			}

			.section__effect-bottom{

				bottom: 0;
				width: 100%;
				transition: all .25s ease-in .5s;

			}

			.section__effect-left{

				left: 0;
				bottom: 0;
				height: 100%;
				transition: all .25s ease-in .75s;
			}

			.section__effect-right{

				right: 0;
				top:0;
				height: 100%;
				transition: all .25s ease-in 0.25s;
			}
		}

	}




}

.no-padding{

	padding: 0!important;
}

.no-margin{

	margin: 0!important;
}

@include screen-until($tablet){

	.sections{

		.section{

			padding: 7px !important;
		}
	}
}






